.title {
    text-decoration: underline;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

h2 {
    color: red;
    font-family: monospace;
    font-size: larger;
}

.link-list {
    margin: 20px;
    background-color: aqua;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px;
    color: blueviolet;
    font-size: larger;
    font-family: monospace;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}