.title {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

h2 {
    color: red;
    font-family: monospace;
    font-size: larger;
}

.link-list {
    border: 1px;
    color: blueviolet;
    font-size: larger;
    font-family: monospace;
    display: flex;
}

.item {
    text-align: center;
    border: 1px;
    margin: auto;
    width: auto;
    height: auto;
    flex: 1;
}